{% extends '@App/admin.layout.html.twig' %}

{% block body %}

    <div class="index">
        <div class="createPost">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
